<!-- @format -->

<%- include('../includes/head.ejs') %>
  </head>
  <body>

     <%- include('../includes/navigation.ejs') %>
    <section>
       
        <main>
           
                <h1>Nothing there!</h1>
         
        </main>
    </section>
   <%- include('../includes/end.ejs') %>
